# Java Files
*.class
*.jar

# Maven Files
target/*
core/target/*
legacy/target/*

# MacOS Files
.DS_Store

# Eclipse Files #
.project
.classpath
org.eclipse.*.prefs
*/.settings/*

# IntelliJ Files
*.iml
.idea/*